*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #efefef;
    color: #fff;
}

section{
  width: 100%;
  position: relative;
}

.navbar{
  top: 0;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1vw 3vw;
  z-index: 1000;
}

.logo{
  font-size: 3vw;
  color: white;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: -25vw;

}
.menuitems{
  display: flex;
  margin: auto 0;
}
.menuitems li{
  list-style: none;
  margin: 0 1.5vw;
}
.menuitems li a{
  display:block;
  color:#fff;
  font-size: 1.5vw;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase;
}
.menuitems li:hover a{
  color: #b06fe9;
}
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}
.col-1{
  flex-basis: 40%;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.text_container{
  width: 100%;
  padding-left: 5rem;
  text-shadow: 0 5px 10px rgba(0,0,0,0.5);

}
.text_container h2{
  font-size: 9vw;
  font-weight: 900;
  line-height: 7.5vw;
  text-transform: capitalize;
  color: #2E424D;


}
.text_container h2::first-line{
  color: whitesmoke;
  letter-spacing: 5px;
  text-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.text_container h5{
  color: whitesmoke;
  font-size: 2vw;
  font-weight: 300;
  text-transform: capitalize;
  padding: 0 -10px;
  
}
.text_container p{
  font-size: 1vw;
  font-weight: 400;
  color: wheat;
  text-align: center;
}
.text_container .btn{
  display: inline-block;
  text-align: center;
  font-size: 1vw;
  color: #fff;
  border: 1px solid #2E424D;
  background-color: #2E424D;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
  letter-spacing: 2px;
  padding: 10px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5) 0 0 10px white, 0 0 15px white;
  transition: 0.3s ease;
}
.text_container .btn:hover{
  letter-spacing: 2px;
  padding: 10px 40px;
  font-weight: bold;
  color: #fff;
  outline: none;
  text-decoration: none;
  background-color: #b06fe9;
}
.col-2{
  display: flex;
  flex-basis: 60%;
  align-items: center;
  position: relative;
}
.imgbox{
  min-height: 70vh;
  z-index: 1;
}
.imgbox img{
  width: 170%;
  max-height: 100%;
  margin-left: 20px;
  object-fit: cover;
}
.icons{
   position: fixed;
   top: 50%;
   right: -16vw;
   transform: translateY(-50%);
   z-index: 1000;

}
.icons .fa{
  color: black;
  width: 20vw;
  padding: 1vw;
  font-size: 2.5vw;
  cursor: pointer;
  background: #fff;
  transition: 0.5s ease;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  border: 1px solid #2E424D;
}
.icons .fa:hover{
  color:#b06fe9;
  transform: translateX(-8vw);
}

.icons .fa span{
  position: relative;
  font-size: 1.8vw;
  bottom: 0.3vw;
  margin-left: 1.8vw;

}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
.card{
  height: 60rem;
  width: 83rem;
  padding: 20px 35px;

}
.animblob{
  position: relative;
  top: 0;
  left:0;
  height: 30vw;
  width: 50vw;
  transform: translate(-20%, 3%);
  background: #fff;
  animation: animate_blob 8s linear infinite;
}
input{
  display:none;
  visibility: hidden;
  -webkit-appearance: none;
}
.navbar label{
  display: none;
}
@keyframes animate_blob{
  0%, 100%{
    border-radius: 45% 55% 70% 35%; / 70% 30% 90% 40%;
  }
  25%{
    border-radius: 55% 45% 30% 35%; / 50% 30% 60% 10%;
  }
  50%{
    border-radius: 65% 43% 35% 65%; / 40% 60% 63% 70%;
  }
  25%{
    border-radius: 35% 65% 60% 40%; / 70% 30% 40% 60%;
  }
}
@media screen and (max-width: 600px) {
  body{
    overflow: auto;
  }
  .logo{
    font-size: 3vw;
    margin-left: 20px;
  }
  .w3{
   background-color: transparent;
  }
  #mySidebar{
    height: 100%;
    width: 100%;
  }
  .nav-links {
    flex-direction: column;
    justify-content: center;
}
  .menuitems{
    width: 100%;
    height: 50px;
    top: auto;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .menuitems li{
    list-style: none;
    margin: 0 -5vw;
    padding: 1vw 2vw;
  }
  .menuitems li a{
    display:block;
  color:#fff;
  font-size: 2vw;
  margin-left: 30px;
  letter-spacing: 4px;
  text-decoration: none;
  text-transform: uppercase
  }
  .menuitems li:hover a{
    color: #000;
  }
  #check:checked ~ section .navbar .menuitems{
    right: 0;
  }
  .row{
    margin-top: 0;
  }
  .col-1{
    flex-basis: 100%;
    margin-left: 0;
  }
  .text_container{
    width: 100%;
    z-index: 100;
  }
  .text_container h1{
    font-size: 4vw;
    line-height: 5vw;
  }
  .text_container h2{
    font-size: 6vw;
    line-height: 7vw;
    text-align: left;
  }

  .text_container h5{
    font-size: 2.5vw;
    padding: -20px -40px;
  }
  .text_container p{
    font-size: 1vw;
  }
  .text_container .btn{
    margin-top: 2vw;
    font-size: 1.5vw;
  }
  .text_container .btn{
    display: inline-block;
    text-align: center;
    color: #fff;
    border: 1px solid white;
    background-color: transparent;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    letter-spacing: 2px;
    padding: 5px 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5) 0 0 10px white, 0 0 15px white;
    transition: 0.3s ease;
  }
  .text_container .btn:hover{
    letter-spacing: 3px;
    padding: 6px 18px;
    font-weight: bold;
    color: #000;
    background-color: white;
  }
  .col-2{
    display: flex;
    flex-basis: 100%;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  .imgbox{
    min-height: 70vh;
    z-index: 1;
  }
  .imgbox img{
    width: 100%;
    transform: translate(10%, 50%);
    object-fit: cover;
  }
  .icons{
    position: fixed;
    height: 250px;
    z-index: 100;
  }
  .animblob{
    position: relative;
    top: 0;
    left:0;
    height: 30vw;
    width: 60vw;
    transform: translate(-20%, 3%);
    background: #fff;
    animation: animate_blob 8s linear infinite;
  }
  .icons .fa{
    padding: 1.7vw;
  }

  #about{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 80px 50px;
    margin-bottom: 100px;
  }
  #intro p{
    font-size: 10px;
    font-weight: bold;
    color: #fff;
  }
  #intro h2{
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase ;
  }

  #pic{
    display: flex;
    position: relative;
  }
  #pic img{
  max-width: 60%;
  max-height: 15rem;
  
  }
  #intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 15px;
  }
  

  ::-webkit-scrollbar{
    width: 12px;
  }
  ::-webkit-scrollbar-track{
    background-color: #000;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 50px;
  }

}


h1 {
    color: white;
    text-align: left;
    padding: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
.w3 {
    background-color: #5B8291;
    box-shadow: 0 15px 0 0 rgba(0, 0, 0, 0.1);
}
/* SIDE BAR */
#mySidebar {
    background-color: #2E424D;
}
#toggleMode{
  margin-left: 15px;
}
/** CAROUSEL **/
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin-top: 0;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.dark-mode {
  background-color: #000;
  color: #fff;
}
.headings{
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: 900;
  text-align: center;
  margin:  20px 0px;
  color: #2E424D;
  text-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
/* ABOUT SECTION */
#home{
  background-color: rgba(153, 66, 223, 0.3);
  display: flex;

}

#about{
  display: flex;
  flex-direction: column;
  padding: 80px 50px;
  margin-bottom: 100px;
 
}
#pic{
  display: flex;
  margin-top: 50px;
}
#pic img{
  width: 70rem;
  height: 30rem;
  box-sizing: border-box;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  float: left;
  border-radius: 8px;
}


#intro{
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 15px;
  background-color: rgba(137, 39, 223, 0.6);
  margin: 0 15px;
  float: left;
  border-radius: 8px;
  letter-spacing: 2px;

}
#intro h2{
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase ;
  margin-bottom: 50px;
  margin:15px 15px;
  text-align: left;
  text-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
#intro p{
  font-weight: bold;
  margin:15px 15px;

}
.work1{
  background-color: rgba(238, 238, 238, 0.3);
  padding: 15px 18px;
  margin: 5px 15px;
}
.experience{
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.work1 h2{
  font-style: italic;
  font-weight: 400;
  font-size: 10px;
 
}
.work1 h3{
  font-size: 15px;
  font-weight: 600;
}
.work1 p2{
  font-size: 10px;
}
::-webkit-scrollbar{
  height: 8px;
}
::-webkit-scrollbar-track{
  background-color: #f1f1f1;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb{
  background-color: #b06fe9;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: rgba(153, 66, 223, 1);
}
/* PROJECTS SECTION */
#projects{
  display: flex;
  flex-direction: column;
  padding: 80px 50px;
  margin-bottom: 100px;
  align-items: center;
  background-color: rgba(153, 66, 223, 0.3);
  align-items: center;
  justify-content: center;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
}
.gallery img{
  width: 360px;
  height: 240px;
  margin: 10px;
}
.slide-container{
  display: flex;
 gap: 12px;
max-width: 800px;
width: 100%;
height: 30rem;
border-radius: 10px;
box-shadow: 0 15px 12px rgba(0, 0, 0, 0.5);
background-color: #b06fe9;
padding: 30px;
scroll-snap-type: x mandatory;
overflow-x: scroll;
scroll-padding: 30px;
}
.slide-container .card{
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 15px 12px rgba(0, 0, 0, 0.5);
  background-color: #bbb;
  width: 100%;
height: 21rem;
align-items: center;
scroll-snap-align: start;
}
.card{
  margin-top: 4px;
  color: #2E424D;
  font-weight: 400;
  text-align: center;
}
.card .image{
  padding: 4px;
  height: 150px;
  width: 150px;
  border-radius: 5px;
  align-items: center;
 
}
.image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  border: 5px solid #fff;
  box-shadow: 0 15px 12px rgba(0, 0, 0, 0.5);
  align-items: center;
}
/* CONTACT SECTION */
#contact{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
 
  padding: 80px 50px;
}
.form{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  margin: 20px 0px;
}
.input{
  padding: 12px;
  margin: 15px;
  width: 30%;
  border: none;
  outline: none;
}
#msg{
  width: 100%;
  padding: 10px;
  margin: 15px;
}
  
#send{
  padding: 10px;
  width: 10%;
  margin: 40px;
  border: none;
  outline: none;
}
#send:hover{
  cursor:pointer;
  box-shadow: 0 0 10px white;
}
